:root {

  /* COLORS */
  --primary: #3b82f6;
  --primary-dark: #2563eb;
  --secondary: #6c8fdc;

  --bg-dark: #0f172a;
  --bg-glass: rgba(255, 255, 255, 0.05);

  --text-main: #f1f5f9;
  --text-muted: #94a3b8;

  --border-light: rgba(255,255,255,0.1);

  /* SHADOW */
  --shadow-soft: 0 8px 30px rgba(0,0,0,0.3);
  --shadow-hover: 0 15px 40px rgba(0,0,0,0.4);

  /* RADIUS */
  --radius: 12px;

}